@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "rejoice";
    src: url(fonts/SuisseIntl-Regular.ttf);
}
@font-face {
    font-family: "other";
    src: url(fonts/SuisseIntl-Light.woff2);
}
@font-face {
    font-family: rom;
    src: url(fonts/RomaniaRegular.otf);
}
@font-face {
    font-family: chillax;
    src: url(fonts/Chillax-Variable.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: rejoice;
}

html, body{
    width: 100%;
    height: 100%;
}
.BTS-page1{
    background-color: black;
    color: white;
    height: 90vh;
    width: 100%;
    position: relative;
    z-index: 5;
    /* display: flex;
    justify-content: baseline;
    align-items: end; */
}
.BTS-page1 .heading{
    width: 100%;
    padding: 0 1vw;
    line-height: 1.2;
    bottom: 0%;
    position: absolute;
    text-align: center;
    /* border: 2px solid black; */
}
.BTS-page1 .heading>:nth-child(1){
    text-align: end;
    padding-right: 10vw;
}
.BTS-page1 .heading>:nth-child(4){
    text-align: start;
}
.headElem{
    /* border: 2px solid black; */
    width: 100%;
    height: 5vw;
    overflow: hidden;
}

.BTS-page1 .heading h1{
    font-family: other;
    font-weight: 100;
    font-size: 4vw;
    /* border: 2px solid black; */
    overflow: hidden;
}
.troll-page{
    cursor: default;
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100vw;
    background-color: black;
}
.troll-page .troll-msg{
    display: flex;
    white-space: nowrap;
    height: 100%;
    align-items: center;
    width: fit-content;
    padding: 0 10vw;
}

.troll-page h1{
    position: absolute;
    z-index: 2;
    background-color: transparent;
    /* color: white; */
    color: white;
    background-position: fixed;
    background-clip: text;
    /* color: transparent; */

    white-space: nowrap;
    font-family: chillax;
    font-size: 40vw;
}
.troll-page video{
    position: absolute;
    /* z-index: 99; */
    bottom: 0;
    /* height: 100%;
    width: 100%; */
}

.ending{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.frame{
    /* border: 2px solid black; */
    padding: 1vw 3vw;
}
.frame a{
    color: black;
    text-decoration: none;
}
.frame h1{
    font-size: 4vw;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cursor{
    pointer-events: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    z-index: 0;
}
